<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:fragment="head" lang="en">
    <meta charset="UTF-8"/>
    <meta description="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css}"/>
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/app.css}"/>
    <title th:text="'giflib | ' + ${page_title}">giflib</title>
</head>
<body>
<nav th:fragment="nav">
    <div class="container">
        <div class="nav-wrapper">
            <img th:src="@{/assets/images/logo.png}"/><a href="#" class="brand-logo">Health Training Institutions</a>
            <ul class="right">
                <li sec:authentication="name"></li>
                <li>
                    <form class="logout inline" th:action="@{/logout}" method="post">
                        <button type="submit"><i class="material-icons">power_settings_new</i></button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div th:fragment="flash" th:if="${flash != null}" class="container">
    <div class="message">
        <i class="right material-icons" data-close="">close</i>
        <div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" class="flash"></div>
    </div>
</div>
<div th:fragment="scripts">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script type="text/javascript" th:src="@{/assets/js/app.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/imageloader.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/uploader.js}"></script>
</div>
<div class="footer" th:fragement="footer"></div>
</body>
</html>
